body {
    margin: 0;
    padding: 0;
    color: #ffffff;
    background-color: #0c1b2b;
}

.container {
    background-image: url('images/Strip.png'), url('images/Music Assets.png');
    background-position: center, top right;
    background-repeat: no-repeat;
    background-size: 100%, 50%;
    padding: 0 2rem;
}

header {
    padding-top: 2rem;
    height: 200px;
    width: 50%;
}

header h1 {
    font-size: 2.5rem;
    font-weight: 600;
    padding-bottom: 10px;
}

.intro-section {
    text-align: center;
    width: 80%;
    margin: 100px auto 0;
}

.start_btn {
    background-color: hsl(211, 56%, 9%);
    color: white;
    border: #0c1b2b4b outset;
    top: 2rem;
    position: relative;
    font-size: 1rem;
    box-shadow: 1px 1px 2px 1px hsl(211, 56%, 20%);
}

.start_btn:hover {
    background-color: hsl(211, 56%, 20%);
}

.flex-layout {
    display: flex;
    line-height: 1.6;
    align-items: center;
    margin: 3rem auto;
}

.flex-layout > img {
    width: 30%;
}

/* This is to alternate the layout */
.even {
    flex-direction: row-reverse;
    text-align: right;
}

.even .text {
    padding-left: 15rem;
}
.odd .text {
    padding-right: 15rem;
}
footer {
    margin-top: 1rem;
}
/* The purpose of the media query here is to make things look fine at all point */
@media(max-width: 885px) {
    .even .text {
        padding-left: 5rem;
    }
    .odd .text {
        padding-right: 5rem;
    }
    .intro-section {
        margin-top: 50px;
    }
}

@media(max-width: 700px) {
    body {
        text-align: center;
        font-size: small;
    }
    .container {
        background-image: url('images/Strip.png');
    }
    header {
        width: 100%;
    }

    header h1 {
        font-size: 2rem;
    }
    .flex-layout,
    .even .text,
    .odd .text {
        display: flex;
        text-align: center;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    .flex-layout > .text {
        margin: 3em 0;
    }

    .intro-section {
        width: 100%;
        padding-top: 2rem;
    }
}
